@import 'sass/utilities/initial-variables';

$blue: #00d1e9;
$light-grey: #f3f4f5;
$font-stack:    Helvetica, sans-serif;
$primary: $blue;

@import "bulma"; 



@media screen and (min-width: 1392px){
.container {
	width: 65%;
}
}

.field.has-margin-bottom{
	margin-bottom: 1.5rem;
}

.has-margin-top
{
	margin-top: 2.5rem;
}

.field.is-form-grey{
	.input,.textarea{
		background-color: $light-grey;
		}
}
.hero-background-image{
	//background-image: url("file:///home/dev-11/project1/public/html/images/about_strange.jpg");
	background-size: 100% auto;
	width: 100%;
    background-image: url("http://media.comicbook.com/2016/09/screen-shot-2016-09-26-at-10-21-45-am-201692.png");
    //background-attachment: fixed;
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-position: right center
}

.level-left{
	a{
	color: $grey;
	}
}
.has-no-padding-top{
	padding-top: 0;
	a{
		padding-top: 0;
	}
}

.tag{
	border-radius: .5rem;
	border-style: solid;
	border-width: .05rem;
}

.has-5-padding-top{
	padding-top: 1.5rem;
}

.has-padding-left-5{
	padding-left: 5%;
}

.card-content{
	padding-left: 0;
}
.card{
	box-shadow: none;
	border-bottom: 2px solid $light-grey;
}

.is-custom-175{
	font-size: 1.70rem;
}
nav.navsmall{
	height: 1.5rem;
	max-height: 1.25rem;
	min-height: 1.25rem;
}

@mixin nav_height($height) {
  max-height: $height;
}

//.nav{
//	@include nav_height(2.5rem);
//}

.is-size-8{
	font-size: .70rem;
}

.footer{
	background-color: $grey-dark;
	padding: 2rem 2rem 1rem;
}
.breadcrumb.is-small{
	font-size: .60rem;
}
.breadcrumb:not(:last-child){
	margin-bottom: 0;
}
//body {
//	  font: 100% $font-stack;
//	  color: $blue;
//    }